$main-red: #AD212A;
$overlay: rgba(0, 0, 0, 0.81);
$title-font: "Federo", Times, serif;
$body-font: "Futura Bk Bt", sans-serif;
$cta-grey: #303030;

*{
   margin:0;
}

body{
   width:100%;
   height:2100px;
   display:flex;
   flex-direction:row;
   flex-wrap:nowrap;
}

#sidebar{
   flex-grow:1;
   background-color:$main-red;
   width:300px;
   height:100vh;
   position:fixed;
   -webkit-box-shadow: 0.2px 0px 0.2px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0.2px 0px 0.2px 0px rgba(0,0,0,0.75);
   box-shadow: 0.2px 0px 0.2px 0px rgba(0,0,0,0.75);
}

#main-cont-scroll{
   flex-grow:2;
   height:1000px;
   margin-left:300px;
}

#line-render{
   display:block;
   margin-top:25px;
   margin-left:auto;
   margin-right:auto;
   width:95%;
}

.title-font{
   font-family:$title-font;
}

.body-font{
   font-family:$body-font;
}

.side-text{
   text-align:center;
}

.sidebar-l1{
   text-transform: uppercase;
   font-weight:bold;
   margin-top:15px;
}

.sidebar-l3{
   margin-top:40px;
   font-size:30px;
}

.contact-text{
   margin-top:60px;
   font-size:18px;
   font-weight:bold;
   text-transform: uppercase;
}

#sidebar-line{
   display:block;
   width:30%;
   height:2px;
   margin-left:auto;
   margin-right:auto;
   background-color:black;
   margin-top:5px;
}

.sidebar-l4{
   margin-top:10px;
   margin-left:25px;
   margin-right:25px;
}

.body-headings1{
   font-size: 50px;
   text-align: center;
   display:inline-block;
   margin-left:10px;
   margin-right:10px;
}

.body-headings2{
   font-size: 40px;
   text-align: center;
   display:inline-block;
   margin-left:10px;
   margin-right:10px;
}

.body-headings3{
   width:400px;
   font-size: 40px;
   text-align: center;
   display:inline-block;
}

.head1-bar{
   display:flex;
   align-items:center;
   width:100%;
   margin-top:40px;
}

.red-bar{
   width:60%;
   height:4px;
   background-color:$main-red;
}

.special-bar{
   width:35%;
}

.red-bar2{
   width:60%;
}

.white-bar{
   width:60%;
   height:1px;
   background-color:white;
   margin:0 auto;
   margin-bottom:7px;
   margin-top:7px;
}

#port-holder{
   display:flex;
   width:90%;
   margin:0 auto;
   margin-top:15px;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content: center;
}

.port-feat{
   width:400px;
   margin:20px;
   height:300px;
   position:relative;
}

#skills-holder{
   display:flex;
   width:90%;
   margin:0 auto;
   height:auto;
   margin-top:0px;
   flex-direction:row;
   justify-content: center;
   flex-wrap:wrap;
}

.skills-feat{
   margin-left:auto;
   margin-right:auto;
   height:350px;
   width:175px;
   text-align:center;
   margin-top:7px;
}

.star-cont{
   margin-top:20px;
   display:flex;
   flex-direction:row;
   flex-wrap:nowrap;
   justify-content:center;
   align-items:center;
}

.skills-ital{
   font-family:$body-font;
   margin-top:15px;
   font-style: italic;
   font-size:20px;
}

.skills-para{
   font-family:$body-font;
   margin-top:4px;
}

.black-bar{
   width:60%;
   height:1px;
   background-color:black;
   margin:0 auto;
   margin-bottom:7px;
   margin-top:7px;
}

.exed-holder{
   display:flex;
   width:100%;
   flex-direction:row;
   justify-content:center;
}

.exed-feat{
   width:450px;
   margin:30px;
   height:200px;
}

.exed-text{
   font-family:$body-font;
   font-size:20px;
}

.exed-ital{
   font-family:$body-font;
   font-size:16px;
   font-style:italic;
   margin-left:10px;
   margin-right:10px;
}

.port-feat-img{
   object-fit: cover;
   width:100%;
   height:100%;
}

.port-feat-hover{
   position:absolute;
   top:0;
   left:0;
   text-align:center;
   opacity:0;
   text-align:center;
   width:100%;
   height:100%;
   color:white;
   background-color:$overlay;
   transition:.3s ease;
}

.port-feat-hover:hover{
   opacity:1;
}

.port-feat-main{
   font-family:$title-font;
   margin-top:90px;
   font-size:40px;
}

.port-feat-submain{
   font-family:$body-font;
   margin-top:4px;
   font-style: italic;
}

#contact-form{
   margin-left:auto;
   margin-right:auto;
   margin-top:10px;
   padding-bottom:100px;
   display:flex;
   width:90%;
   flex-direction:column;
   justify-content:center;
}

#contact-interior{
   width:80%;
   margin:0 auto;
   display:flex;
   flex-direction:column;
   justify-content:center;
}

.email-box{
   width:100%;
   height:30px;
   margin-top:10px;
   border: 1px solid $main-red;
   font-family:$body-font;
   font-size:18px;
   color:$overlay;
   padding-left:5px;
}

#desc-box{
   width:100%;
   height:200px;
   margin-top:10px;
   border: 1px solid $main-red;
   word-wrap: break-word;
   word-break: break-all;
   font-family:$body-font;
   font-size:18px;
   color:$overlay;
   padding-left:5px;
}

.submission-box{
   width:30%;
   margin-top:10px;
   margin-left:auto;
   margin-right:auto;
   background-color:$cta-grey;
   font-family:$body-font;
   border: 1px solid $main-red;
   color:white;
   height:30px;
   font-size:18px;
   text-transform:uppercase;
}

.contact-me{
   margin-top:45px;
   width:60%;
   margin-left:auto;
   margin-right:auto;
   background-color:$cta-grey;
   font-family:$body-font;
   border: 1px solid white;
   color:white;
   height:auto;
   font-size:18px;
   text-transform:uppercase;
   padding-top:5px;
   padding-bottom:5px;
}

.submission-box:hover{
   background-color:white;
   color:$cta-grey;
}

.contact-me:hover{
   border: 1px solid $cta-grey;
   background-color:white;
   color:$cta-grey;
}

.star{
   width:33px;
}

.displayN, .invisi-bar{
   display:none;
}

a{
   color:inherit;
}


@media (max-width:1300px){
   body{
      height:1900px;
   }
   #contact-form{
      padding-bottom:0;
   }
   .port-feat{
      width:300px;
      height:230px;
   }
   .exed-feat{
      width:350px;
      height:auto;
      margin-bottom:40px;
   }
   .exed-text{
      font-size:16px;
   }
   .exed-ital{
      font-size:12px;
   }

   .port-feat-main{
      margin-top:60px;
      font-size:32px;
   }
}

@media (max-width:1100px){
   body{
      height:2100px;
   }
   #contact-form{
      padding-bottom:100px;
   }
   #port-holder{
      //flex-direction:column;
      justify-content:center;
      align-items:center;
   }
   .displayN{
      display:inline-block;
   }
   .port-feat{
      width:400px;
      height:300px;
   }
   .displayHead{
      display:flex;
   }
   .displayM{
      display:none;
   }
   .special-bar{
      width:50%;
   }
   .exed-feat{
      width:80%;
      height:auto;
      margin-bottom:40px;
   }
   .exed-text{
      font-size:20px;
   }
   .exed-ital{
      font-size:14px;
   }
   #exed-holder{
      align-items: center;
   }
   .port-feat-main{
      margin-top:90px;
      font-size:40px;
   }
}

@media(max-width: 900px){

   #main-cont-scroll{
      width:100%;
      z-index:100;
      margin-left:0;
      margin-top:20vw;
   }
   #sidebar{
      display:none;
   }
   .invisi-bar{
      display:inline-block;
      width:100%;
      background-color:$main-red;
      height:20vw;
      margin-top:-20vw;
      position:relative;
   }
   .invisi-bar-head{
      font-size:8vw;
      text-align:center;
   }
   .invisi-bar-sub{
      margin-top:1px;
      font-size:3vw;
      text-align:center;
   }
   .skills-feat{
      width:150px;
   }
}

@media(max-width:550px){
   .skills-feat{
      width:250px;
      height:auto;
      margin-bottom:50px;
   }
   .port-feat{
      width:80%;
      height:50vw;
   }
   .port-feat-hover{
      opacity:1;
      background-color: rgba(0, 0, 0, 0.75);
   }
   .port-feat-main{
      margin-top:13vw;
      font-size:7vw;
   }
   .port-feat-submain{
      font-size:4vw;
   }
   .exed-feat{
      width:95%;
      height:auto;
      margin-bottom:40px;
   }
   .exed-text{
      font-size:16px;
   }
   .exed-ital{
      font-size:12px;
   }
}
